# LangChain Core
langchain
langchain-core
langchain-community
langchain-chroma
langchain-postgres
langchain-experimental

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
torch
sentence-transformers
accelerate
grandalf
pypdf
bs4
tiktoken
pymongo
faiss-cpu
wikipedia
youtube-transcript-api
pytube
yt-dlp
psycopg2
duckduckgo-search
ddgs
py-irt
pyBKT